@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #c4bfe7;*/

}
nav {
    color: #1b3650;
    background-color: #cbf0f8;
}

nav ul li{
    color: #1b3650;
}
body{
    background-color: #4e5f51;
    font-family: 'Rubik', sans-serif;
}


.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
section{
    height: 100vh;
    /*background-color: #1b374e;*/
}
.portofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.portofolio h1,
.portofolio img {
    margin: auto;
}



main h1{
    color: white;
    font-size: 100px;
    font-family: 'Preahvihear', sans-serif;
}

main h1 span{
    color: #1b3650;
}


/*Page projet*/

 main h2{
    font-size: 80px;
    text-align: center;
}
 h3{
     color: #5d46e8;
 }

 .presentation{

  color: white;
     height: 110vh;
 }
 .presentation img{
     width: 30vw;
 }
 .presentation button{
     background-color: #49a098;
     color: black;
     transition: .5s;
 }
.presentation button:hover{
    background-color: #49a098;
    color: #f3ddc6;
}

.card{
    background-color: #4e5f51;
    border: 1px solid white;
}

p {
  font-size: 1.2rem;
}

.projet h6{
    font-size: 1.5rem;
}

hr {
    width:90%;
    position: relative;
    left: 5%;
}

#contact{
    background-color: #1b374e;
}

footer{
    background-color: #4e5f51;
}

