@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #c4bfe7;*/

}
nav {
    color: #ffffff;
    background-color: black;
    border-bottom: 1px solid white; /* Added 'solid' as the border style */
}

nav ul li{
    color: #ffffff;
}
body{
    background-color: #000000;
    font-family: 'Rubik', sans-serif;
}


.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
section{
    height: 90vh;
    /*background-color: #1b374e;*/
}
.portofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.portofolio h1,
.portofolio img {
    margin: auto;
}



main h1{
    color: white;
    font-size: 100px;
    font-family: 'Preahvihear', sans-serif;
}

main h1 span{
    color: #49a098;
}


/*Page projet*/

 main h2{
    font-size: 80px;
    text-align: center;
}
 h3{
     color: #5d46e8;
 }

 .presentation{
     background-color: #1b374e;
     color: #f3ddc6;
     height: 110vh;
 }
 .presentation img{
     width: 30vw;
 }
 .presentation button{
     background-color: #49a098;
     color: black;
     transition: .5s;
 }
.presentation button:hover{
    background-color: #49a098;
    color: #f3ddc6;
}
h5{
    color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px white;
    font-size: 100px!important;
    position: absolute;
    letter-spacing: 50px;
    /*left: 250px;*/
    /*width: 100%;*/
}
.projet{
    background-color: black;
}
.card{
    background-color: red;
}

p {
  font-size: 1.2rem;
}