@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #c4bfe7;*/
    scroll-behavior: smooth;

}
nav {
    color: white;
    background-color: #1b3650;
}

nav ul li{
    color: white;
}
body{
    background-color: #4e5f51;
    font-family: 'Rubik', sans-serif;
}


.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
section{
    height: 100vh;
    /*background-color: #1b374e;*/
}
.portofolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.portofolio h1,
.portofolio img {
    margin: auto;
}



main h1{
    color: white;
    font-size: 100px;
    font-family: 'Preahvihear', sans-serif;
}

main h1 span{
    color: #1b3650;
}


/*Page projet*/

 main h2{
    font-size: 80px;
    text-align: center;
}
 h3{
     color: #5d46e8;
 }

 .presentation{

  color: white;
     height: 110vh;
 }
 .presentation img{
     width: 30vw;
 }
 .presentation button{
     background-color: #49a098;
     color: black;
     transition: .5s;
 }
.presentation button:hover{
    background-color: #49a098;
    color: #f3ddc6;
}

.presentation i{
    font-size: 2rem;
}

.card{
    background-color: #4e5f51;
    border: 1px solid white;
}

p {
  font-size: 1.2rem;
}

.projet h6{
    font-size: 1.5rem;
}
hr {
    width:90%;
    position: relative;
    left: 5%;
}

#contact{
    background-color: #1b374e;
}
form button {
    background-color: #1b374e!important;
    color: white;
}
.projet .card{
  width: 740px;

}

@media screen and (max-width: 1023px){
    .presentation img{
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px){
   .portofolio h1{
        font-size: 6rem;

    }

    #contact{
       height: 120vh;
    }
    .projet{
        padding: 10px;
    }
    .presentation i{
        font-size: 1.5rem;
    }
    .projet .card{
        width: 600px;
        height: 300px;
    }
    .projet .card p,h3,a{
        font-size: .7rem;
    }

    .projet .card img{
        width: 250px;
    }

    .presentation{
        height: 70vh;
    }
    .presentation img{
        display: none;
    }

    .presentation button{
        font-size: 1rem;
    }

}

@media screen and (max-width: 702px){
    .presentation p {
        font-size: 1.8vh;
        padding: 2px;
    }
    .presentation h2 {
        font-size: 4vh;
    }
    .presentation {
        height: 50vh;
    }
    .projet h2{
        font-size: 4vh;
    }
    .projet a{
        font-size: .8rem;

    }
}

@media screen and (max-width: 632px){
    .projet .card {
        width: 550px;
        height: 300px;
    }
}

@media screen and (max-width: 582px){

    .projet .card {
        width: 500px;
        height: 280px;
    }
    .projet .card p,h3{
        font-size: .6rem;
    }
.projet a{
    font-size: .6rem;
}
    .projet .card img{
        width: 200px;
    }
}

@media screen and (max-width: 582px){

    .projet .card {
        width: 450px;
        height: 280px;
    }
    .projet .card p,h3{
        font-size: .6rem;
    }
    .projet a{
        font-size: .6rem;
    }
    .projet .card img{
        width: 200px;
    }
}


@media screen and (max-width: 510px){
    .portofolio h1 {
        font-size: 8vh;
    }
}

@media screen and (max-width: 480px){
    .projet .card {
        width: 400px;
        height: 280px;
    }
    .projet h6{
        font-size: 1vh;

    }
    .projet .card p{
        font-size: 1vh;
    }
    .projet .card h3{
        font-size: 1vh;
    }

    .projet a{
        font-size: 1vh;
    }
    .projet .card img{
        width: 170px;
        height: 279px;
    }
}

@media screen and (max-width: 430px){
    .projet .card {
        width: 380px;
        height: 200px;
    }
    .projet h6{
        font-size: 1vh;
        position: relative;
        top: -30px;
    }
    .projet .card p{
        font-size: 1vh;
        position: relative;
        top: -30px;
    }
    .projet .card h3{
        font-size: 1vh;
        position: relative;
        top: -50px;
    }

    .projet a{
        font-size: 1vh;
        position: relative;
        top: -60px;
    }
    .projet .card img{
        width: 170px;
        height: 199px;
    }
}

@media screen and (max-width: 422px){

    .presentation{
        height: 60vh;
    }
    .projet .card {
        width: 380px;
        height: 200px;
    }
    .projet h6{
        font-size: 1vh;
        position: relative;
        top: -30px;
    }
    .projet .card p{
        font-size: 1vh;
        position: relative;
        top: -30px;
    }
    .projet .card h3{
        font-size: 1vh;
        position: relative;
        top: -50px;
    }

    .projet a{
        font-size: 1vh;
        position: relative;
        top: -60px;
    }
    .projet .card img{
        width: 170px;
        height: 199px;
    }
}

@media screen and (max-width: 410px){

    .projet .card {
        width: 330px;
        height: 200px;
    }
    .projet h6{
        font-size: .9vh;
        position: relative;
        top: -30px;
    }
    .projet .card p{
        font-size: .9vh;
        position: relative;
        top: -30px;
    }
    .projet .card h3{
        font-size: .9vh;
        position: relative;
        top: -50px;
    }

    .projet a{
        font-size: .9vh;
        position: relative;
        top: -60px;
    }

    #contact{
        height: 130vh;

    }

}